
@{
    ViewData["Title"] = "BildSpeichern";
}

<h1>BildSpeichern</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="bild" />
    <input type="submit" value="Speicheren Sie ein Bild" />

</form>
